<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/static/newinfo.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Github Explorer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/info">Search Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Repositories </a>
              </li>
            </ul>  
            <div>      
        <input type="search" placeholder="Enter Github Username" aria-label="Search" id="rogers">
          <button class="btn btn-outline-success" type="submit" id="submitB" style="float:right">Search</button>       
       </div>
          </div>
        </div>
      </nav>
      <div id="hello" >
        <img src="" id="profile" width="180px" height="160px">
        <div id="proName" class="UserP"></div>
        <div id="Fr" class="UserP"></div>
        <div id="Fg" class="UserP"></div>
      </div>
      <div id="Desc">
        <div id="Repo" style="margin: 20px;">
            <h1 id="Rep">Repositories:</h1>
            <div style="margin: 30px;"> <a href="" id="Repo0" class="REpo" style="font-size: 24px;">sage</a><br></div>
            <div style="margin: 30px;"> <a href="" id="Repo1" class="REpo" style="font-size: 24px;"></a><br></div>
            <div style="margin: 30px;"> <a href="" id="Repo2" class="REpo" style="font-size: 24px;"></a><br></div>
            <div style="margin: 30px;"> <a href="" id="Repo3" class="REpo" style="font-size: 24px;"></a><br></div>
            <div style="margin: 30px;"> <a href="" id="Repo4" class="REpo" style="font-size: 24px;"></a><br></div>
            <div style="margin: 30px;"> <a href="" id="Repo5" class="REpo" style="font-size: 24px;"></a><br></div>
      </div>
      </div>
      </body>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      <script src="/static/newinfo.js"></script>
</body>
</html>